*{
  padding: 0;
  margin: 0;
}

header{
  
}

main {
  font-family: Helvetica;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 70vw;
  padding: 1rem;
  text-align: justify;
  background-color: aquamarine;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 1rem;
  width: 20vw;
  text-align: justify;
  background-color: blueviolet;
}

article{
  margin: 1rem 0;
}